@CHARSET "EUC-KR";
.fullWidth
{
	width:100%;
	display:block;
}
.sermonImageContainer
{
	width:1170px;
	height:632px;
	position:relative;
	margin-right:auto;
	margin-left:auto;
	background: url('/images/image1.jpg') no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
}
.sermonNav li.sermonNavLogo
{
	width:280px;
	float:left;
	margin:0;
	padding:0;
	display:block;
	margin-right:90px;
	padding-top:7px;
}
.sermonNav li
{
	list-style:none;
	float:left;
	margin:0;
	display:block;
	margin-top:28px;
	margin-right:68px;
	font-weight:bold;
	color:white;
}
.sermonNav li a
{
	text-decoration:none;
	color:white;
}
.sermonNav li a:hover
{
	color:yellow;
}
.sermonWrapper
{
	width:1170px;
	margin-left:auto;
	margin-right:auto;
	height:76px;
	position:relative;
	font-size:16px;
	background-color:#bf1e2e;
}
.sermonNav
{
	position:relative;
	width:100%;
	margin:0;
	padding:0;
}
.fixedNavBar
{
	position:fixed;
	z-index:10;
	top:0;
}
.sundaySermonTable
{
	width:100%;
	border-spacing:0px;
}
.sundaySermonTable th
{
	background-color:#bf1e2e;
	padding:0px;
	border-style:none;
	color:white;
	border:0px;
	font-size:16px;
	font-weight:bold;	
	height:50px;
}
.sundaySermonTable tr
{
	padding:0px;
	border-style:none;
}

.sundaySermonTable td
{
	border-bottom:solid 1px black;
	padding-top:18px;
	padding-bottom:18px;
	background-color:white;
	font-size:14px;
	text-align:center;
}
.boardPageListWrapper
{
	float:left;
	width:100%;
	margin-top:75px;
	text-align:center;
}
.boardPageList
{
	margin:auto;
	color:#666666;
}
.boardPageList a
{
	padding-right:7px;
	padding-left:7px;
	font-weight:bold;
}
.boardPageList a:hover
{
	color:#bf1e2e;
	cursor: pointer;
}
.boardNextContainer
{
	width:62px;
	height:24px;
	border: 1px solid #d3d3d3;
	background-color:white;
	display:inline;
	font-weight:bold;
	font-size:14px;
	padding-top:5px;
	padding-left:7px;
	padding-right:12px;
	padding-bottom:6px;
	font-color:#858585;
}
.boardNextContainer:hover
{
	color:#666666;
	border-color: #bf1e2e;
}

.contentBlockDescription
{
	float:left;
	margin-top:38px;
	margin-left:30px;
	width:90%;
	font-weight:bold;
}
.announceContentContainer
{
	margin-top:72px;
	border:4px solid #bf1e2e;
	color:#bf1e2e;
	width:1162px;
	display:block;
	position:relative;
}
.announceContent
{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	display:block;
	font-size:36px;
	font-weight:bold;
	padding-top:30px;
	padding-bottom:30px;
}
.circleImage
{
	border-radius:50%;
	height:280px;
	width:280px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	background: url('/images/image1.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}
.circleImage1
{
	border-radius:50%;
	background-color:red;
	height:280px;
	width:280px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	background: url('/images/image2.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}
.circleImage2
{
	border-radius:50%;
	background-color:red;
	height:280px;
	width:280px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	background: url('/images/image3.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}
.circleImageDescriptionContainer
{
	width:100%;
}
.circleImageDescriptionFirstLine
{
	background-color:#bf1e2e;
	color:white;
	width:100px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-bottom:4px;
	margin-top:22px;
	padding:10px;
	font-weight:bold;
}
.circleImageDescriptionSecondLine
{
	background-color:#bf1e2e;
	color:white;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-top:3px;
	padding:10px;
	font-weight:bold;
}
.sermonAudio
{
	width:20px;
	height:20px;
	background: url('/images/image1.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}
.aboutGrace
{
	font-size:30px;
	font-weight:bold;
	display:inline-block;
	background-color:Red;
	position:relative;
	text-align:center;
	margin:0 auto;
	display:table;
	margin-top:20px;
	border-bottom: solid 1px;
}
.churchSlogan
{
	color:white;
	background-color:#bf1e2e;
	padding:15px;
	margin:0 auto;
	display:table;
	margin-top:20px;
	font-weight:bold;
}
.sloganContainer
{
	width:100%;
	margin-top:50px;
	display:block;
	position:relative;
	float:left;
}
.slogan
{
	width:500px;
	height:200px;
	background-color:yellow;
	padding:20px;
	float:left;
	display:block;
	border: solid 1px black;
}
.sloganFiller
{
	width:86px;
	background-color:red;
	float:left;
}
.sloganTitle
{
	font-weight:bold;
}
.sloganIcon
{
	width:40px;
	height:40px;
	display:inline-block;
	vertical-align:middle;
	margin-right:3px;
}

.slogan ul
{
	padding-left:20px;
}
.slogan ul li
{
	font-size:14px;
	padding-top:7px;
	padding-bottom:7px;
	margin:0px;
}
.pastorHeader
{
	font-size:16px;
	font-weight:bold;
	margin-top:20px;
	line-height:24px;
}
.pastorBody
{
	font-size:14px;
	line-height:25px;
}
.pastorContentBody
{
	width:540px;
	background-color:white;
	float:left;
}
.pastorImage
{
	width:580px;
	background:url('images/image1.jpg') no-repeat center center;
	background-size:cover;
	height:500px;
	float:left;
	position:relative;
}
.churchHistoryList
{
	width:100%;
	border-top:solid 4px #bf1e2e;
}

.yearDescription li
{
	width:500px;
	padding:0px;
	margin:0px;
}
.yearDescription ul
{
	padding:10px;
	padding-top:20px;
	margin:0px;
}
.year
{
	color:red;
	text-align:center;
	padding:30px;
	padding-right:70px;
	float:left;
	font-weight:bold;
	display:block;
}
.yearDescription
{
	float:left;
	background-color:blue;
	display:inline-block;
}

.leaderDescription
{
	width:211px;
	background-color:red;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin-top:15px;
}